 # Instructor Do: Grouping

 ### Import Libraries and Dependencies

In [32]:
import pandas as pd
from pathlib import Path

%matplotlib inline

 ### Read in File and Clean Data

In [33]:
# Read CSV
csv_path = Path("../Resources/crypto_data.csv")
crypto_data = pd.read_csv(
    csv_path, index_col="data_date", parse_dates=True, infer_datetime_format=True
)
crypto_data

           cryptocurrency   data_price     data_time     timestamp
data_date
2017-05-09        bitcoin          NaN  1.494290e+12  1.557290e+12
2017-05-10        bitcoin  1743.723523  1.494370e+12           NaN
2017-05-11        bitcoin  1828.678209  1.494460e+12           NaN
2017-05-12        bitcoin  1776.443919  1.494550e+12           NaN
2017-05-13        bitcoin  1714.964198  1.494630e+12           NaN
...                   ...          ...           ...           ...
2019-05-03       litecoin    76.435295  1.556840e+12           NaN
2019-05-04       litecoin    77.011308  1.556930e+12           NaN
2019-05-05       litecoin    75.974875  1.557010e+12           NaN
2019-05-06       litecoin    73.722948  1.557100e+12           NaN
2019-05-07       litecoin    75.566057  1.557190e+12           NaN

[3556 rows x 4 columns]

In [34]:
# Drop all columns except cryptocurrency and data_price
crypto_data = crypto_data.drop(columns=["data_time", "timestamp"])

In [35]:
# Sort the dates in ascending order
crypto_data = crypto_data.sort_index()

In [36]:
# Drop missing values
crypto_data = crypto_data.dropna()
crypto_data.head()

           cryptocurrency   data_price
data_date
2017-05-09       litecoin    28.020288
2017-05-09         ripple     0.166990
2017-05-09       ethereum    84.915618
2017-05-10       litecoin    33.487730
2017-05-10        bitcoin  1743.723523

 ### Group DataFrame and perform `count` aggregation

In [38]:
# Group by cryptocurrency and perform count
cp_group=crypto_data.groupby('cryptocurrency').count()
cp_group

                data_price
cryptocurrency
bitcoin                722
bitcoin-cash           639
ethereum               722
litecoin               728
ripple                 728

 ### Group DataFrame without aggregate function

In [ ]:
# Group by cryptocurrency
crypto_data_grp = crypto_data.groupby("cryptocurrency")
crypto_data_grp

 ### Group DataFrame by `cryptocurrency` and calculate the average `data_price`

In [ ]:
# Calculate average data_price for each crypto

 ### Group by more than one column and calculate count

In [ ]:
# Group by more than one column

 ### Group by more than one column, round price to two decimal places, and calculate count

In [ ]:
# Group by more than one column after rounding to two decimal places

 ### Plot grouped data to generate more than one line on the same chart

In [ ]:
# Plot data_price for each crypto across time